* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body{
    background-color: #d9dcd6;
  }
  /* header */
  .moldymort{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
  }
  
  .moldymort h1{
    display: inline-block;
    font-size: 48px;
  }
  
  .moldymort h1 span{
    color: #d9dcd6;
  }
  
  .moldymort nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  
  .moldymort nav ul{
    list-style-type: none;
  }
  
  .moldymort nav ul li{
    display: inline-block;
    margin-left: 25px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  p {
    font-size: 16px;
  }
  
  .villain{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .float-left{
    float: left;
    margin-right: 25px;
  }
  
  .float-right{
    float: right;
    margin-left: 25px;
  }
  
  /* benefits for us */
  .greed{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
  }
  
  .greed div{
    margin-bottom: 32px;
    color: #ffffff;
  }
  
  .greed h3{
    margin-bottom: 10px;
    text-align: center;
  }
  
  .greed img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
  }
  .succubi article{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
  }
  
  .succubi{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
  }
  .succubi img{
    max-height: 200px;
  }
  
  .succubi h2{
    margin-bottom: 20px;
    font-size: 36px;
  }
  /* foot feet fits */
  .footer{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  
  .footer h4{
    font-size: 20px;
  }